
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Grids Storage" %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}
    {% set is_admin = current_user.is_admin %}

    <div class="row">

        <div class="pills-outline col-12">
            <ul class="nav nav-pills mb-2" id="puckNav" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="puck-map-tab" data-toggle="tab" href="#puck-map" role="tab" aria-controls="current" aria-selected="true">Map</a>
                </li>

                 <li class="nav-item">
                    <a class="nav-link" id="puck-table-tab" data-toggle="tab" href="#puck-table" role="tab" aria-controls="current" aria-selected="false">Table</a>
                </li>

            </ul> <!-- End Navigation -->

            <div class="tab-content" id="puckContent">

                <div class="tab-pane fade show active puck-tab" id="puck-map" role="tabpanel" aria-labelledby="puck-map-tab">
                    {% include 'grids_storage_map.html' %}
                </div>

                <div class="tab-pane fade puck-tab" id="puck-table" role="tabpanel" aria-labelledby="puck-table-tab">
                    {% include 'grids_storage_table.html' %}
                </div>

            </div> <!-- End Content -->

        </div>

    </div>

</div>

<script>
    var range = {{ pucks_range|tojson }};

    function loadCane(dewar, cane) {
        load_html_from_ajax('cane-content',
            get_ajax_content('grids_cane', {dewar: dewar, cane: cane, pucks_range: range})
            //,function (){ makeSameHeight('puck-tab'); }
        );
    }

    function loadPuck(dewar, cane, puck) {
        load_html_from_ajax('puck-content',
            get_ajax_content('grids_puck', {dewar: dewar, cane: cane, puck: puck, pucks_range: range})
        );
        var title = document.getElementById('location-title');
        title.innerText = "Dewar " + dewar + " - Cane " + cane + " - Puck " + puck;
    }

    (function(window, document, $, undefined) {
    "use strict";

    var table = $('#table-pucks').DataTable({
        sDom: 'lfrtip',
        paging: false,  // no paging
        info: false

    });


    })(window, document, window.jQuery);
</script>