
<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Session Log " %}
    {% set navigation = [('Sessions', url_for_content('sessions_list')), (session.shortname, '')] %}
    {% include 'include_header.html' %}

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" id="session_content">
       {% include "log_events.html" %}
    </div>
{#    <div class="row col-6">#}
{#        <div class="row col-12"><h5 id="reload_label">Reloading in seconds</h5></div>#}
{#    </div>#}

</div>



