{% import "entry_macros.html" as macros %}

<div class="container-fluid dashboard-content">
    <!-- Header -->
    {% set title = "Tomo Sessions" %}
    {% set navigation = [(title, '')] %}
    {% include 'include_header.html' %}
    {% set is_manager = current_user.is_manager %}


    <!-- table row -->
    {{ macros.hidden_hour_id() }}

        <div class="card col-12">
            <div class="card-body">
                <div class="row">

           {% for tsession in tomo_sessions.values() %}
                {% set stitle = tsession['path']|basename  %}

                    <!-- Processing Project Card -->
                    {% set card_color='#ebf7f9' %}
                    {# {% set card_color='#ececec' %}  #}
                    <div class="card w-auto mr-3" style="background-color: {{ card_color }}; min-width: 500px; max-width: 700px">

                        <div class="card-header d-flex" style="background-color: {{ card_color }};">

                            {% set url = url_for_content('tomo_session', tomo_session_id=tsession['id']) %}
                            
                            <a class="mb-0" href="{{ url }}"><h5>{{ stitle }}</h5></a>
                            <div class=" ml-auto row">
                                <a href="{{ url }}"><i class="fas fa-external-link-alt"></i></a>
                                <div class="dropdown ml-2">
                                    <a class="toolbar" href="#" role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i> </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink5">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
{#                            <h5 class="card-title">{{ entry['name'] }}</h5>#}
                            <p>Path: <small>{{ tsession['path'] }}</small></p>

                        </div>

                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>


    <!-- end table row -->

</div>


<script>
    (function(window, document, $, undefined) {
    "use strict";


    })(window, document, window.jQuery);
</script>